/* Styles for the main body */
body {
  background-color: cornflowerblue;
}



/* Styles for heading component */

#heading {
  text-align: center;
  color:white;
  background-color:black;
  border-bottom: khaki solid 10px;
  margin-top: -30px;
  padding-top:30px;
  padding-bottom:10px
}

.link {
  border: solid white 2px;
  color: white;
  margin-right: 25vw;
  margin-left:22vw
}



/* Styles for landing button component */

#startGame {
  color: white;
  margin: auto;
  background-color: black;
  margin-left:43.5%;
  border: burlywood groove 20px
}



/* Styles for game component */

#image {
  border: burlywood groove 20px;
  padding: 10px;
  background-color: white;
  width:15%;
  float: right;
  margin-right: 10vw;
  margin-top:5vh;
}

#displayWord {
  margin-top:15vh;
  margin-left:15vh;
  max-width: 10px
}

table {
  width: 30%;
  margin-left: auto;
  margin-right: auto;
  margin-top: 5vh;
}

button {
  margin:5px;
  width: 3vw;
  height:5vh;
  background-color:khaki

}

#generate {
  width: 10%;
  margin-left: 30%;
  margin-top:15vh;
}




/* Styles for the help page */

#help {
  width:50%;
  margin:auto;
  padding:20px;
  margin-top:10vh;
  margin-bottom: 10vh;
  border: burlywood groove 20px;
  background-color: black;
  color: white;
}

#help > h3 {
  font-size: 50px;
  text-align:center;
  margin-bottom: 10vh;
  margin-top:0;
  
}



/* Styles for dynamic style changes */

.hidden{
  display: none
}

.buttonHide {
  display: none
}

a {
  padding: 10px;
  border-bottom: 3px solid white;
  margin-left: 25px;
  
}

.hideLetter {
  color: cornflowerblue
}

.clickedButton {
  text-align: center;
  margin:5px;
  width: 3vw;
  height:5vh;
}